<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<table class="bodypage">
<tr class="topnav">
  stuff
</tr>
<tr class="middlesection">
 {{{body}}}
</tr>
<div class="bottomnav">
  stuff
</div>
</table>
  </body>
</html>
