/*body {
  padding: 0rem;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*background-color: #0a1612;
  height: 70%;
  width: 100%;
  left: 0;
  bottom: 0;
  color: #FEDc3d;
  position: absolute;
}

a:link{
  text-decoration: none;
  color: black
}
.mainUserTable {
  
  text-decoration: none;
  text-align: center;
  background-color: #01ABAA
}
.createUser {
  
  text-decoration: none;
  text-align: center;
  background-color: #01ABAA
}
.orderUserTable {
  
  text-decoration: none;
  text-align: center;
  background-color: #01ABAA
}
.newPizza {
  
  text-decoration: none;
  text-align: center;
  background-color: #01ABAA
}
.userInfoTable {
  
  text-decoration: none;
  text-align: center;
  background-color: #01ABAA
  
}
.button {
  background-color:#FEA680;
  padding: 5px;
  border-radius: 25px;
  transition-duration: 0.7s;
  width: 150px
}
.button:hover{
  color: white;
  width: 160px;
}

td {
  width: 165px
}

header{
  background-color:#FEDc3d;
  position: absolute;
  text-align:center;
  height: 25%;
}
footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  height: 15%;
  background-color: #f7ce3e;
  text-align: center;
}
.flex {
  display: flex;
  flex-direction: column;
  align-content: center;
  
}
.topbar {
  background-color:#FEDc3d;
  flex-grow:3;
}
.bottombar {
  background-color: #000000;
  flex-grow:3;
}
.mainbodycontent{
  align-content: center;
}*/

.page-footer {
  padding-top: 20px;
  color: #fff;
  background-color: #ee6e73;
}

.page-footer .footer-copyright {
  overflow: hidden;
  min-height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0px;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(51, 51, 51, 0.08);
}
.light, .page-footer .footer-copyright {
  font-weight: 300;
}
.modal .modal-footer {
  border-radius: 0 0 2px 2px;
  background-color: #fafafa;
  padding: 4px 6px;
  height: 56px;
  width: 100%;
  text-align: right;
}
.modal .modal-footer {
  border-radius: 0 0 2px 2px;
  background-color: #fafafa;
  padding: 4px 6px;
  height: 56px;
  width: 100%;
  text-align: right;
}