newbody {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("/images/background.jpg");
}

a:link{
  text-decoration: none;
  color: black
}
.mainUserTable {
  
  text-decoration: none;
  text-align: center;
  background-color: whitesmoke
}
