<form action="/users/{{userId}}/orders/{{order._id}}?_method=PUT" method="POST">
    <label for="name">Name</label>
    <input type="text" name="name" value="{{order.name}}">


    <input type="submit" value="Edit">
</form>