<h1>New Order</h1>
<table class="NewOrder">
   <form action="/users/{{userId}}/orders" method="POST"></form>
    <tr><td><label for="name">Order Name</label>
    <input type="text" name="name"></td>
    <td><input type="submit" value="Continue"></td>
    </tr>

    
    

    

    
</form>
</table>