<h1>New Order</h1>
<table class="NewOrder">
   <form action="/users/{{userId}}/orders" method="POST"></form>
    <tr><td><label for="name"></label>
    <input type="text" name="name" value="Order Name"></td>
    <td><input class="button" type="submit" value="Continue"></td>
    </tr>

    
    

    

    
</form>
</table>