<h1>New Order</h1>
<form action="/users/{{userId}}/orders" method="POST">
    <label for="name">Name</label>
    <input type="text" name="name">

    

    <input type="submit" value="Create">
</form>