<h1>New Order</h1>
<form action="/users/{{userId}}/orders" method="POST">
  <select>
        <option value="Peperoni" for="toppingOne" name="toppingOne">Pepperoni</option>
        <option value="Sausage" for="toppingOne" name="toppingOne">Sausage</option>
        <option value="Cheese" for="toppingOne" name="toppingOne">Cheese</option>
    </select>
    <select>
        <option value="Peperoni" for="toppingTwo" name="toppingTwo">Pepperoni</option>
        <option value="Sausage" for="toppingTwo" name="toppingTwo">Sausage</option>
        <option value="Cheese" for="toppingTwo" name="toppingTwo">Cheese</option>
    </select>
    <select>
        <option value="Peperoni" for="toppingThree" name="toppingThree">Pepperoni</option>
        <option value="Sausage" for="toppingThree" name="toppingThree">Sausage</option>
        <option value="Cheese" for="toppingThree" name="toppingThree">Cheese</option>
    </select>
    <input type="submit" value="Create">
</form