<div>
   
<div>

    <h3>Users:</h3>
        <a href="/Users/new">Add A User</a>

</div>

    <table class="usertable">
    {{#each users}}
        <th>
        <tr>
              <td> <a href="/users/{{this._id}}">{{this.name}}</a></td>
        </tr>
</th>

    {{/each}}
     
</table>
</div>