<div>
    <h1>User List</h1>
<div>
        <a href="/Users/new">Add A User</a>
    </div>
    <h3>Users:</h3>
    <table class="usertable">
    {{#each users}}
        <tr>
              <td> <a href="/users/{{this._id}}">{{this.name}}</a></td>
        </tr>
       
    {{/each}}
    </table>
</div>