<table class="mainUserTable">
    <tr>
       <td>First Col</td>
       <td>Second Col</td>
       <td>Third Col</td>
    </tr>
    <tr>
        <td>1st col</td>
        <td>2nd col</td>
        <td>3rd Col</td>
    </tr>
    <tr>
        <td>last 1st col</td>
        <td>last 2nd col</td>
        <td>last 3rd col</td>
    </tr>
</table>