<table class="createUser">
    <form action="/users" method="POST">
        <tr>
            <td>
                <label for="first">First Name</label>
            </td>
            <td>
                <input type="text" name="first">
            </td>
        </tr>
        <tr>
            <td>
                <label for="last">Last Name</label>
            </td>
            <td>
                <input type="text" name="last">
            </td>
        </tr>
        <tr>
            <td>
                <label for="address">Address</label>
                <td>
                    <input type="text" name="address">
                </td>
        </tr>
        <tR>
            <TD>
                <label for="phone">Phone</label>
            </TD>
            <td>
                <input type="number" name="phone">
            </td>
        </tR>
        <tr>
            <td></td>
            <td>
                <input class="button" type="submit" value="Create">
            </td>
        </tr>




    </form>
</table>